
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 36px;
  font-family: Arial, Helvetica,sans-serif;
}



p {clear : left;
padding :10px;
border: 1px black;
font-family: Arial, Helvetica,sans-serif;
}

.container {
	position: relative;
}

#Beef {
  background-color: red;
}

#Chicken {
  background-color: pink;
}

#Sushi {
  background-color: yellow;
}

section{
  position: relative;
  font-family: Helvetica;
  background-color: grey;
  padding: 10px;
  overflow: hidden;
}

span{
  position: absolute;
 top :0;
 right :0;
  font-family: Helvetica;
}

@media (min-width: 992px) {
   .col-lg-4 
    {float: left;
    border: 10px solid white;
}
    .col-lg-4 {
	width: 33.33%;
}
}

@media (min-width: 768px) and (max-width: 991px)  {
	.col-md-6
    {float: left;
    border: 10px solid white;
}
    .col-md-6 {
	width: 50%;
}
#sec3 {width: 100%;}
}

@media  (max-width: 767px)  {
	.col-xs-12
    {float: left;
   border: 10px solid white;
}
    .col-xs-12 {
	width: 100%;
}
}

